.contact-info{
	display: flex;
	flex-direction: column;
	border: 0;
	padding: 16px 16px;
	margin-bottom: 4px;
    line-height: 1.5;
	letter-spacing: -0.5px;
	font-size: 12px;
	border-bottom: 1px solid #ebebeb;
	-webkit-box-shadow: 0 0 6px 0 #d8d8d8;
	box-shadow: 0 0 6px 0 #d8d8d8;
}

.icon {
	height: 40px;
	width: 40px;
	background-color: blue;
	}

.right {
	padding: 0px 16px;
}

.middle {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	width: 100%
}

.left {
	padding: 0px 16px;
}

.info-type {
	text-transform: capitalize;
	font-size: 16px;
}

