.App {
	background-color: #fafafa;
	min-height: 25vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #000;
  }
  
  .App-header {
	background-color: #fafafa;
	min-height: 25vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  