.badge-set {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin: 24px 0px;
}

.badge {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }